<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="daniel.juanfer.metodosnumericos" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Busquedasincrementales"
            android:label="@string/title_activity_busquedasincrementales"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daniel.juanfer.metodosnumericos.MainActivity" />
        </activity>
        <activity android:name=".Graficador" >
        </activity>
        <activity
            android:name=".BusquedasIncrementales"
            android:label="@string/title_activity_busquedas_incrementales"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daniel.juanfer.metodosnumericos.MainActivity" />
        </activity>
        <activity
            android:name=".Biseccion"
            android:label="@string/title_activity_biseccion"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daniel.juanfer.metodosnumericos.MainActivity" />
        </activity>
        <activity
            android:name=".Newton"
            android:label="@string/title_activity_newton"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daniel.juanfer.metodosnumericos.MainActivity" />
        </activity>
        <activity
            android:name=".Reglafalsa"
            android:label="@string/title_activity_reglafalsa"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Secante"
            android:label="@string/title_activity_secante"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daniel.juanfer.metodosnumericos.MainActivity" />
        </activity>
        <activity
            android:name=".RaicesMultiples"
            android:label="@string/title_activity_raices_multiples"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daniel.juanfer.metodosnumericos.MainActivity" />
        </activity>
        <activity
            android:name=".Puntofijo"
            android:label="@string/title_activity_puntofijo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daniel.juanfer.metodosnumericos.MainActivity" />
        </activity>
        <activity
            android:name=".Raicesmultiples"
            android:label="@string/title_activity_raicesmultiples"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="daniel.juanfer.metodosnumericos.MainActivity" />
        </activity>
    </application>

</manifest>
